.App {
  text-align: center;
}

h1 {
  text-align: center;
  font-family: "Russo One", sans-serif;
  text-transform: uppercase;
}

.imgflex {
  display: flex;
  justify-content: center;
}

img {
  max-height: 500px;
  max-width: 100%;
}
